html, body {
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
}

.page-container {
  text-align: center;
}

.container {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.navbar {
  display: flex;
  justify-content: right;
  margin: 10px;
}

#map {
  width: 100%;
  height: 55%;
}

#flight-info {
  padding: 10px;
  border-top: 1px solid #ccc;
  overflow-y: auto;
  display: flex;
  height: 45%;
  border: 0;
}

#flight-details {
  display: flex;
}

#flight-options {
  margin-left: 10px;
}

.control-flight-button {
  height: 20px;
}

.controlled-by-label {
  height: 20px;
  margin-bottom: 20px;
}

#flight-controls {
  margin-top: 2px;
}

.map-label-below-icon {
  margin: 0px;
  position: absolute;
  left: -16px;
  right: -16px;
  text-align: center;
}

.custom-icon img {
  transform-origin: center;
}

/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */